/* Couleur verte #026773 */
/* Couleur grise #EBEBEB */
/* Couleur beige #F2B279 */

* {
	margin: 0;
	padding: 0;
}
/* -----------------------
-------- Header ----------
-------------------------*/

header {
	background-image: url(../images/alaska_first.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 600px;
}
#navbar{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#hamburger, #cross {
	padding: 20px;
	cursor: pointer;
	font-size: 49px;
	margin: auto 20px;
	display: block;
	color: #026773;
}
nav {
	display: flex;
	flex-direction: column;
}
nav a {
	text-decoration: none;
}
#text_header {
	text-align: center;
	color: #026773;
	font-size: 40px;

}
#text_header h2 {
	font-style: italic;
}

/* -----------------------
---------- About ---------
-------------------------*/
#about {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 40px 0;
}
#text_about {
	width: 50%;
	text-align: center;
}
#text_about h2 {
	text-transform: uppercase;
	font-size: 2em;
	padding: 10px 0;
}
#text_about p {
	
}
.fa-quote-left {
	font-size: 2em;
}
.circle img {
	border-radius: 100%;
	width: 200px;
	height: 200px;
}

/* -----------------------
--- Table of contents ----
-------------------------*/

#table_of_contents {
	background-color: #F2B279;
	padding: 20px;
}
#table_of_contents h2 {
	text-align: center;
}
.chapter {
	margin: 20px;
	padding: 20px;
	box-shadow: 3px 3px 8px #232323;
	background-color: #fff;
}

/* -----------------------
-------- Back cover ------
-------------------------*/
#back_cover {
	display: flex;
	flex-direction: row;
	margin: 30px;
	padding: 10px;
	box-shadow: 3px 3px 8px #232323;
}
#img_cover {
	width: 50%;
	padding: 5px;
}
#img_cover img{
		width: 100%;
}
#text_cover p {
	text-align: justify;
	padding: 0 5px;
	color: #026773;
}
#text_cover {
	width: 50%;
	padding: 5px;
	display: flex;
	flex-direction: column;
}
#text_cover h2 {
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 5px;
	color: #026773;
}

/* -----------------------
--------- Footer ---------
-------------------------*/
footer {
	background-color: #026773;
	color: #fff;
	text-align: center;
	padding: 20px 0;
}
footer a {
	text-decoration: none;
	color: #fff;
}
footer p {
	padding: 5px 0;
}
.fab {
	font-size: 30px;
	padding: 5px;
}